.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid gray;
}

.header-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 20px;
}
.date {
  font-size: 15px;
  color: gray;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.downloads {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
}

.downloads:hover {
  background: rgb(44, 44, 44);
}
.add-feedback {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
}

.add-feedback:hover {
  background: rgb(44, 44, 44);
}
.close-modal {
  border-left: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
}

.modal:hover {
  background: rgb(44, 44, 44);
}

.modal {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
}
